n8n-workflows/3-social-publisher-agent.json
{
  "name": "Social Publisher Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/{{ $json.instagramAccountId }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.extracted_data.mediaUrl }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.extracted_data.caption }}"
            }
          ]
        },
        "options": {}
      },
      "id": "instagram-api-upload",
      "name": "Instagram API (Upload)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "credentials": {
        "oAuth2Api": {
          "id": "YOUR_META_CREDENTIAL_ID",
          "name": "Meta OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/{{ $('Execute Workflow Trigger').item.json.instagramAccountId }}/media_publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "instagram-api-publish",
      "name": "Instagram API (Publish)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "credentials": {
        "oAuth2Api": {
          "id": "YOUR_META_CREDENTIAL_ID",
          "name": "Meta OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "Successfully published to Instagram."
            }
          ]
        },
        "options": {}
      },
      "id": "format-success",
      "name": "Format Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Instagram API (Upload)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram API (Upload)": {
      "main": [
        [
          {
            "node": "Instagram API (Publish)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram API (Publish)": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1"
}
